* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}
/* colori  */
.add-playlist {
    background-color: #6d6f75;
    height: 32px;
    width: 32px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: black;
}

.dark-toolbar {
    background-color: #282828;
}
.dark-bar {
    background-color: #080b12;
    height: 80px;
}
.dark-aside {
    background-color: #000;

}
@media all and (max-width:767.9px) {
    .dark-aside {
        text-align: center;
    }
}

.text-white {
    color: white;
}
.text-color-grey >p {
    color:#6d6f75;
    font-size: 12px;
    font-weight: bolder;
}
/* classi helper */

.float-left {
    float: left;
}
.float-right {
    float: right;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}


/* TOOLBAR */
.toolbar {
    display: flex;
    justify-content: space-between;
    height:60px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
/* content -left */
.content-left {
    display: flex;
    align-items: center;
    margin-left: 16px;
    flex-basis: 250px;
}

.box-img {
    width: 40px;

}
.box-img img {
    width: 100%;
} 
.wrapper-track-artist {
    margin: 0 10px;
}
.playing-track-link {
    font-size: 12px;
    
}
.playing-artist {
    font-size: 9px;
    color: #767676;
    text-decoration: none;
}
.playing-artist:hover {
    color: #fff;
    cursor: pointer;
    text-decoration: underline;
}

.control-button {
    color: #727272;
    font-size: 14px;
    padding: 0 5px;
}
@media all and (max-width:991.9px) {
    .display-flex-column {
        flex-direction: column;
        display: flex;
    }
}
.control-button:hover {
    color: white;
    cursor: pointer;
}

/*content-middle  */
.wrapper-player {
    flex-basis: 400px;
    flex-grow: 1;
}
.play-controls-buttons {
    text-align: center;
}
.text-center {
    text-align: center;
}
.playbackbar{
    display: flex;
    max-width: 300px;
    margin: auto;
    align-items: center;
}
.video-player-icon {
    padding: 0 7px ;
}
.video-player-icon:hover {
    cursor: pointer;
}
#play-circle{
    font-size: 25px;
}

.progress-time {
    font-size: 10px;
}
.play-controls-buttons > span#play-circle:hover {
    transform: scale(1.4); 
    display: inline-block;
}

/* progress-bar */
.progress {
    border-radius: 100px;
    display: flex; 
    flex-grow: 1;
    background-color: #5a5a5a;
    height: 5px;
}
.progress-value {
    border-radius: 100px;
    background: #c1c1c1;
    height: 5px;
    width:50px;
    position: relative;
}
.progress:hover .progress-value {
    background-color:#99e22d;
}
.progress-value:after {
    position: absolute;
    width: 10px;
    height:10px;
    border-radius: 50%;
    background-color:  #c1c1c1;
    display: none;
    content: "";
    top: -2px;
    right: -4px;
}
.progress:hover .progress-value:after {
    display: block;
}

#time-left {
    margin-right: 4px;
}

#time-right {
    margin-left: 4px;
}
/*content-right  */
.content-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 16px;
    flex-basis: 250px;
}
#volum {
    max-width: 80px;
    width: 80px;
}
    

#progress-volum {
    width:20px;
}


/* MAIN */
main {
    background-color: #141922;
    height: calc(100vh - 60px);
    display: flex;
}
aside {
    display: flex;
    flex-direction: column;
    width: 40px;
    flex-shrink: 1;
    overflow:auto;
    /* in modo che mi compare la 
    scroll nella sezione della playlist */
    padding:10px 0;

}
.aside-menu {
    flex-grow: 1;
    margin-top: 20px;
}
.menu-active {
    position: relative;
}
.menu-active::before {
    position: absolute;
    content: "";
    left: -10px;
    top: 0;
    bottom: 0;
    border-left: 2px solid #99e22d;
}
/* versione tablet aside */
@media all and (min-width: 768px) {
    aside {
        width: 150px;
        padding: 10px;
    }
    .aside-menu {
        flex-grow: 0;
    }
}

/* aside */

.img-spotify {
    width: 100px;
}
.logo-small-brand img {
    width: 25px;
}
.icon-home {
    width: 25px;
    vertical-align: middle;
}
.text-home {
    vertical-align: middle;
    display: inline-block;
}

.profile {
    width: 10px;
}
.playlist-prefer {
    display: none;
}

.playlist-prefer ul li a {
    text-decoration: none;
    color: #535353;
}
@media all and (min-width: 768px) {
    .playlist-prefer {
        flex-grow: 1;
        overflow:auto;
        display: block;
        margin-top: 20px;
    }
    .profile-wrapper {
        margin-top: 5px;
        padding-top: 5px;
        border-top: 1px solid grey;
    }

}

.profile-img-circle {
    background-color: #6d6f75;
    display: inline-block;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    text-align: center;
}

.hidden-xs, .hidden-inline-xs {
    display: none;
}

/* versione tablet */
@media all and (min-width: 768px) {
    .hidden-sm {
        display: none;
    }

    .hidden-xs {
        display: block;
    }

    .hidden-inline-xs {
        display: inline-block
    }

    .visible-sm-inline-block {
        display: inline-block;
    }
}

/* SECTION 2 a destra ACCANTO ALL'ASIDE  */
.wrapper-lost-of-music {
    width: calc(100vw - 40px);
    overflow: auto;
    /* contenuto scrollerà  */
}
@media (min-width: 768px) {
    .wrapper-lost-of-music {
        width: calc(100vw - 150px);
    }
}
.wrapper-lost-of-music > div button> a {
    background-color:#080b12;
    font-size: 12px;
    line-height: 18px;
    font-weight: 700;
    text-transform: uppercase;
    border: 1px solid #fff;
    border-radius: 500px;
    color: #fff;
    white-space: nowrap;
    padding: 8px 34px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;

}
.wrapper-lost-of-music > div button {
    border-radius: 500px;
    border-color: #000;
}
.padding-20 {
    padding: 20px 10px;
}
/* effetto hover su button upgrade */
.wrapper-lost-of-music > div button:hover {
    transform: scale(1.1); 
}

/*  */
.list-options {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; 
}
.list-options li:first-child {
    position: relative;
}
#green-line::after {
    content: "";
    height: 2px;
    width: 23px;
    background-color: #99e22d;
    position: absolute;
    top: 18px;
    left: 50%;
    transform: translateX(-50%);
}
.list-options li {
    list-style: none;
    display: inline-block;
    padding: 0 10px;
} 
.list-options > li> a {
    color: #66686e;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    font-size: 12px;
}


/* effetto hover lista */
.list-options > li> a:hover {
    color: #fff;
}

/* sezione intitolata recently-played */

.album-custom-flex-col {
    display: flex;
    flex-direction: column;
}

.wrapper-songs-history-row {
    display: flex;
    /* in modo tale che tutti i div che racchiudono le img si dispongono in row orizzontalmente */
    flex-wrap: wrap;
}



div.wrapper-songs-history-row >div {
    padding: 10px;
    flex-basis: 50%;
}

.features-img-title {
    max-width: 200px;
    text-align: center;
    margin: 0 auto;
    position:relative;
    /* inserisco il position per inserire l'icona del play come position absolute */
}
.wrapper-songs-history-row img {
    width: 100%;
}

/* applico media query in modo da far andare a capo le img  */

/* MOBILE FIRST */
/* versione sm  */


@media all and (min-width:768px) {
    div.wrapper-songs-history-row >div {
        flex-basis: 25%;
    }
}

/* versione md  */


@media all and (min-width: 992px) {
    div.wrapper-songs-history-row >div {
        flex-basis: 16.6666%;
    }
}

.img-circular {
    border-radius: 50%;
    height: auto;
}

/* effetto hover */
.icon-play-hover {
    z-index: 1;
    font-size: 50px;
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.features-img-title:hover .icon-play-hover  {
    display: block;
}

.features-img-title:hover .overlay {
    opacity: 1;
}
.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background:rgba(0, 0, 0, 0.6);
    opacity: 0;   
}
.circular-overlay {
    border-radius: 50%;
}
/* da rivedere */
.features-img-title ~ div.text-center {
    max-width: 200px;
    margin: 0 auto;
}